{% extends 'muban.html' %}
{% load static %}
{% block content %}
    <div>
        <div class="container">
            <div class="panel panel-default">
                <div>

                    <div class="parentBox">
                        <div class="box">
                            <img src="{% static './app/830595.png' %}"width="1138" height="610"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
