{% extends 'muban.html' %}
{% block content %}
    <div>
        <div class="container">
            <div style="margin-bottom: 10px">

            </div>
            <div class="panel panel-default">
                <h1 align="center">
                    《黑暗中的呼唤》
                </h1>
                <h2>这是一个发生在偏僻山村的故事。在这个山村里住着一对年轻夫妇，他们的住所位于村子的边缘，离其他村民比较远。他们喜欢在夜晚散步，感受着清新的空气和宁静的夜晚。<br>

                    但是，有一天晚上，他们的散步变得异常恐怖。当他们走到一个黑暗的区域时，突然听到了一声惊恐的呼叫声。他们停下脚步，寻找着声音的来源，但是却无法找到任何人。<br>

                    接着，他们听到了更多的呼叫声，声音越来越大，越来越接近。他们想着是不是有人需要救助，于是开始在黑暗中摸索着。但是，他们发现他们越来越深的陷入了这个黑暗的区域，他们的手机也没有信号。<br>

                    突然，他们听到了一阵嗡嗡声，像是一群昆虫的声音。夫妇俩想着是不是有毒虫，于是不敢动弹，他们越来越感到恐惧和无助。<br>

                    接着，他们看到了一个人影在黑暗中出现，看起来是一个女孩子。女孩子双手捂住脸，哭泣着。夫妇俩想着救助这个女孩，但是当他们走近时，女孩子突然睁开了眼睛，露出了两只血红的眼睛。他们惊恐地尖叫起来，但是却无法逃脱。<br>

                    当天早上，村民发现夫妇俩的尸体，他们的身上有明显的伤口。警方调查后发现，他们是被一种未知的昆虫叮咬所致。<br>

                    从那之后，这个偏僻山村就再也没有人愿意在夜晚出门了。传说那个黑暗的区域里面住着一个可怕的女孩，她会用惊恐的呼叫声诱惑着人们前往，然后让人们永远的失踪在黑暗中。<br>
                </h2>
            </div>
        </div>
    </div>
{% endblock %}
