{% extends 'muban.html' %}
{% block content %}
    <div>
        <div class="container">
            <div style="margin-bottom: 10px">

            </div>
            <div class="panel panel-default">
                <h1 align="center">
                    《黑夜里的呼吸声》

                </h1>

                <h2>
                    夜幕降临，雨水滴答滴答地敲打着窗户玻璃，使得整个小镇变得格外安静。一对年轻夫妻正在床上休息，但突然间，妻子感觉到床边有人在呼吸。<br>

                她睁开眼睛，发现丈夫仍在鼾声中睡着，但床边却站着一个陌生人。陌生人身形高大，戴着面具，但通过面具的缝隙，能看到他冷酷的眼神。他不停地呼吸着，好像在暗示着什么。妻子惊恐万分，却不敢发出声音。<br>

                当她试图叫醒丈夫时，陌生人却转身向着她，双手掐住了她的喉咙。她感到自己的生命在不断流逝，无法呼吸。这时，她听到了一阵敲门声，敲门声越来越大声，让陌生人分心。妻子趁机逃离了这个恐怖的场景。<br>

                第二天早晨，夫妻俩向警察报案，但警察并没有找到任何可疑的线索。几天后，他们发现一名邻居神秘失踪。在警察的搜查下，他们发现了这名邻居的尸体，而尸体周围有着奇怪的痕迹，似乎是被一双大手掐死的。<br>

                夫妻俩从此夜夜惊醒，不敢睡觉，因为他们知道，黑夜里可能会再次出现那个陌生人的呼吸声。<br>
                </h2>
            </div>
        </div>
    </div>
{% endblock %}
