{% extends 'muban.html' %}
{% block content %}
    <div>
        <div class="container">
            <div style="margin-bottom: 10px">

            </div>
            <div class="panel panel-default">
                <h1 align="center">
                    《黑暗的陌生人》
                </h1>
                <h2>
                    这个小镇被山脉包围着，整天雾气缭绕，好像随时都会消失在云雾之中。那天晚上，小镇里的人们都已经睡了，只有一间屋子里还亮着灯。里面住着一个年轻的女孩，她正准备睡觉，突然，她听到了一阵嘶哑的声音，仿佛是从窗户外面传来的。<br>

                    女孩感到非常恐惧，她试图起身关上窗户，但窗户被反锁了。她听到门外有脚步声，她立刻明白，有人来了。她颤抖着爬上了床，拿着手机准备打电话给警察，却发现手机已经没有电了。<br>

                    突然间，房间里变得异常的安静。女孩听到了一阵轻微的呼吸声，好像有人就在她身边。她的心跳越来越快，她想要大喊，但是她的喉咙却像被什么东西堵住了一样，发不出声音。<br>

                    她看到床边站着一个黑影，模糊不清。黑影突然出手，用力将女孩按在床上。女孩感觉到一只冰冷的手掐住了她的脖子，她想要挣脱，但是她的身体已经被黑影压得动弹不得。<br>

                    突然间，黑影离开了她的身体，她听到了一阵低吟，仿佛是来自一个远古的世界。接着，黑影消失在了黑暗中。<br>

                    女孩躺在床上，心跳还没有完全平息。她感觉到床边的空气中还留存着一股寒意。她试图睁开眼睛，但眼前的一切都是黑暗。她已经失明了。<br>

                    第二天早上，女孩的父母发现女儿失踪了。警方搜查了整个小镇，但是没有找到任何线索。几个星期后，警方在山林中发现了一个棺材，里面装着女孩的尸体。她被活活地埋在了棺材里，被一个神秘的黑影掐死。从此，小镇上的人们都避免在晚上开窗户睡觉，因为他们害怕黑暗的陌生人会再次出现。但是，就在最近，一些居民开始听到了奇怪的声音和看到了类似黑影的东西，他们开始担心黑暗的陌生人会再次出现。<br>

                    有一天晚上，一个男孩在小镇的路上走着，他感到一阵不寻常的寒意。他觉得有人在跟踪他，但是当他回头时，他看不到任何人。他继续走着，突然感到有东西从身后悄悄靠近他。他快步走着，但是那个东西似乎越来越接近他。<br>

                    他开始加速跑，但是他发现他的腿已经被黑影抓住了。他无法动弹，黑影用力将他掐死了。警方在第二天早上发现了他的尸体，和女孩一样，被活活地埋在了棺材里。<br>

                    小镇上的人们开始恐慌，他们开始随时保持警惕。在接下来的几个晚上，有更多的人失踪了。最后，小镇上的居民不得不开始在家中封锁所有门窗，试图阻止黑暗的陌生人再次出现。<br>

                    但是，这似乎并没有起到太大的作用。黑暗的陌生人似乎已经获得了某种力量，能够穿过任何门窗进入居民的家中。小镇上的人们终于意识到，他们无法逃脱黑暗的陌生人的魔爪。<br>

                    小镇上的人们再也没有听到过任何关于黑暗的陌生人的消息。但是，他们留下的记忆却一直萦绕在小镇上空。从此，这个小镇成了鬼魂和幽灵的聚集地，人们都开始避免接近它。<br>
                </h2>
            </div>
        </div>
    </div>
{% endblock %}
